<!-- .block-banner -->
<div class="block block-banner dn">
    <div class="container">
        <a class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('assets/images/banners/banner-1.jpg')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title">Large Varieties<br class="block-banner__mobile-br"> of Coils</div>
            <div class="block-banner__text">Hot Rolled, Cold Rolled, Galvanised, Color Coated, Tin Plate</div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary" routerLink="../shop">Shop Now</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->