<app-page-header [header]="'Store Location'" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Store Location',  url: ''}
]"></app-page-header>

<div class="block faq">
    <div class="container">
        <div class="faq__section">
          
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography" style="border: 1px dashed #ccc;padding: 10px 20px;">
                          <h6>J-18</h6>

                          <p>
                            J-18, Taloja MIDC, Panchnad(CT),<br/> Taluka - Panvel, Raigad,
                            MAHARASHTRA,<br/> Navi Mumbai Panvel - 410208 <br/>
                            Phone : +91- 8652211007
                          </p>

                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography" style="border: 1px dashed #ccc;padding: 10px 20px;">
                            <h6>L24/25</h6>

                            <p>
                              L24-25, Taloja MIDC, Panchnad(CT),<br/> Taluka - Panvel, Raigad,
                              MAHARASHTRA,<br/> Navi Mumbai Panvel - 410208 <br/>
                              Phone : +91- 7021643827
                            </p>

                        </div>
                    </div>
                </div>
                <!--  -->
   
                <div class="row pt-3">
                  <div class="faq__section-column col-12 col-lg-6">
                      <div class="typography" style="border: 1px dashed #ccc;padding: 10px 20px;">
                        <h6>A-88</h6>

                        <p>
                          A-18, Taloja MIDC, Panchnad(CT),<br/> Taluka - Panvel, Raigad,
                          MAHARASHTRA,<br/> Navi Mumbai Panvel - 410208 <br/>
                          Phone : +91- 7052229872
                        </p>

                      </div>
                  </div>
                  <div class="faq__section-column col-12 col-lg-6">
                      <div class="typography" style="border: 1px dashed #ccc;padding: 10px 20px;">
                          <h6>M-67</h6>

                          <p>
                            M-67, Taloja MIDC, Panchnad(CT),<br/> Taluka - Panvel, Raigad,
                            MAHARASHTRA,<br/> Navi Mumbai Panvel - 410208 <br/>
                            Phone : +91- 8790728717
                          </p>

                      </div>
                  </div>
              </div>
            </div>
        </div>

    </div>
</div>
