<div class="card">
  <div class="card-header">
    <h5 *ngIf="!registerService.isLoggedIn">Step 2 - Business Details</h5>
    <h5 *ngIf="registerService.isLoggedIn">Edit Business Details</h5>
  </div>
  <div class="card-divider"></div>
  <form [formGroup]="registerService.buisnessDetails" class="card-body">
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-7">
        <div class="form-group">
          <label for="profile-first-name">Company Name <small class="asterik">*</small></label>
          <input formControlName="companyName" type="text" class="form-control" id="profile-first-name" placeholder="Company Name">
          <small *ngIf="f.companyName.value === '' && (f.companyName.dirty || f.companyName.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <small *ngIf="f.companyName.value !== '' && f.companyName.errors?.minlength  " id="passwordHelpBlock" class="form-text text-muted"
        >Company Name should be more than 2 characters.</small>
        </div>
        <div class="form-group">
          <label for="profile-first-name">Address Line 1 <small class="asterik">*</small></label>
          <input formControlName="address1" type="text" class="form-control" id="profile-first-name" placeholder="Address Line 1">
          <small *ngIf="f.address1.value === '' && (f.address1.dirty || f.address1.touched )" id="passwordHelpBlock" class="form-text text-muted"
          >This field is required.</small>
          <small *ngIf="f.address1.value !== '' && f.address1.errors?.addressValidation" id="passwordHelpBlock" class="form-text text-muted"
          > Please enter valid address.</small>
        </div>
        <div class="form-group">
          <label for="profile-first-name">Address Line 2</label>
          <input formControlName="address2" type="text" class="form-control" id="profile-first-name" placeholder="Address Line 2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3 col-xl-3">
        <div class="form-group">
          <label>Country <small class="asterik">*</small></label>
          <!-- <select class="form-control">
            <option>Select</option>
          </select> -->
          <input formControlName="country" type="text" class="form-control" id="profile-first-name" placeholder="Address Line 2">
          <small *ngIf="f.country.value === '' && (f.country.dirty || f.country.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        </div>
      </div>
      <div class="col-12 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-lg-3 col-xl-3">
        <div class="form-group">
          <label>State <small class="asterik">*</small></label>
          <!-- <select class="form-control">
            <option>Select</option>
          </select> -->
          <input formControlName="state" type="text" class="form-control" id="profile-first-name" placeholder="Address Line 2">
          <small *ngIf="f.state.value === '' && (f.state.dirty || f.state.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3 col-xl-3">
        <div class="form-group">
          <label>City <small class="asterik">*</small></label>
          <!-- <select class="form-control">
            <option>Select</option>
          </select> -->
          <input formControlName="city" type="text" class="form-control" id="profile-first-name" placeholder="Address Line 2">
          <small *ngIf="f.city.value === '' && (f.city.dirty || f.city.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        </div>
      </div>
      <div class="col-12 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-lg-3 col-xl-3">
        <div class="form-group">
          <label for="profile-first-name">Pin Code <small class="asterik">*</small></label>
          <input formControlName="pinCode" type="text" class="form-control" id="profile-first-name" placeholder="Pin Code">
          <small *ngIf="f.pinCode.value === '' && (f.pinCode.dirty || f.pinCode.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-7">
        <div class="form-group">
          <label for="profile-first-name">Company GST <small class="asterik">*</small></label>
          <input formControlName="gst" type="text" class="form-control" id="profile-first-name" placeholder="Company GST">
          <small *ngIf="f.gst.value === '' && (f.gst.dirty || f.gst.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7">
        <div class="form-group">
          <label for="profile-first-name">Business Email</label>
          <input formControlName="businessEmail" type="text" class="form-control" id="profile-first-name" placeholder="Business Email">
          <!-- <small *ngIf="f.businessEmail.value === '' && (f.businessEmail.dirty || f.businessEmail.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small> -->
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7">
        <div class="form-group">
          <label for="profile-first-name">Mobile</label>
          <input formControlName="mobile" type="text" class="form-control" id="profile-first-name" placeholder="Mobile">
          
              <small *ngIf="f.mobile.value !== '' &&  f.mobile.errors?.contactNumberValidation" id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts 10 or 13 digits.</small>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7">
        <div class="form-group">
          <label for="profile-first-name">Landline</label>
          <input formControlName="landline" type="text" class="form-control" id="profile-first-name" placeholder="Landline">
              <small *ngIf="f.landline.value !== '' &&  f.landline.errors?.contactNumberValidation" id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts 10 or 13 digits.</small>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7">
          <div class="form-group">
            <label for="profile-first-name">No. of Employees</label>
            <input formControlName="numberOfEmployees" type="number" class="form-control" id="profile-first-name" placeholder="No. of Employees">
          </div>
        </div>
    </div>
    <div class="form-group  mb-0">
      <button class="btn btn-primary" *ngIf="!registerService.isLoggedIn" routerLink="../personal">Back</button>&nbsp;
      <button class="btn btn-primary" type="submit" (click)="submitBusinesDetails()" *ngIf="!registerService.isLoggedIn" [disabled]="!registerService.buisnessDetails.valid">Next</button>
      <button class="btn btn-primary" type="submit" (click)="updateBusinessDetails()" *ngIf="registerService.isLoggedIn" [disabled]="!registerService.buisnessDetails.valid">Update</button>
    </div>
  </form>
</div>