<!-- <app-page-header [header]="'My Account'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'My Account', url: ''}
]"></app-page-header> -->

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex"></div>
            <div class="col-md-6 d-flex mt-5">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login <small class="asterik">*</small></h3>
                        <form  [formGroup]="authForm" (ngSubmit)="submitForm()">
                            <div class="form-group">
                                <label>Email address</label>
                                <input   autocomplete="off" autofocus  formControlName="username"  type="email" class="form-control" placeholder="Enter email" (keyup)="onKey($event)">
                                <p style="color:red">{{name}}</p>
                            </div>
                            <div class="form-group">
                                <label>Password <small class="asterik">*</small></label>
                                <input autocomplete="off"  formControlName="password" type="password" class="form-control" placeholder="Password">
                                <small class="form-text text-muted">
                                    <a routerLink="./../forgotPass">Forgotten Password</a>
                                </small>
                            </div>
                            <!-- <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="login-remember">
                                            <span class="input-check__box"></span>
                                            <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="login-remember">Remember Me</label>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-7">
                                        <button type="submit" [disabled]="!authForm.valid" class="btn btn-primary mt-2 mt-md-3 mt-lg-4">Login</button>
                                </div>
                                <!-- <div class="col-md-5">
                                        <div class="new_user">
                                            <p>New User? <span><a href="">Join Free</a></span></p>
                                        </div>
                                </div> -->
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex"></div>
        </div>
    </div>
</div>