<app-page-header [header]="''" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Download App',  url: ''}
]"></app-page-header>

<div class="block faq">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
              <div class="custom_top_margin">
                  <!-- <h3 class="contact-us__header">Download the App</h3> -->
                  <h3 class="contact-us__header">Coming Soon</h3>
              <form>
                  <div class="form-row">
                    
                        <div class="form-group col-md-8 col-8">
                            <label for="form-name">Send a link via SMS to install the app</label>
                            <input type="text" id="form-name" class="form-control" placeholder="Mobile">
                        </div>
                        <div class="form-group col-md-4 col-4">
                            <button type="submit" class="btn btn-primary" style="margin-top: 28px;">Text App Link</button>
                        </div>
                    </div>
                  
              
                  
              </form>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="app_image">
              <img src="../../../../../assets/images/appMock.webp">
            </div>
          </div>
        </div>
    </div>
</div>

