<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img [src]="user?.image" alt="">
            </div>
            <div class="profile-card__name">{{user?.firstName}}</div>
            <div class="profile-card__email" style="margin-bottom: 2px">{{user?.emailId}}</div>
            <div class="profile-card__email">{{user?.mobile}}</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge" *ngIf="address.default">Company Details</div>
        <div class="address-card__body">
            <div class="address-card__name">{{user?.businessDetails[0].companyName}}</div>
            <div class="address-card__row">
                {{ user?.businessDetails[0].address1 }},  {{ user?.businessDetails[0].state }}<br>
               {{ user?.businessDetails[0].city }}
                {{ user?.businessDetails[0].pinCode }},<br> {{ user?.businessDetails[0].country }}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Phone Number</div>
                <div class="address-card__row-content">{{ user?.businessDetails[0].mobile }}</div>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Email Address</div>
                <div class="address-card__row-content">{{ user?.businessDetails[0].businessEmail }}</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="../business">Edit Address</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>Recent Orders</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm table-bordered table-striped">
                <table>
                    <thead>
                    <tr>
                        <th>Sales Order</th>
                        <th>Description</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td><a href="">#{{ order.id }}</a></td>
                        <td>{{ order.desc }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
