<app-page-header [header]="'Purchase Offer List'" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Purchase Offer List',  url: ''}
]"></app-page-header>
<div class="block">
    <div class="container">

        <div class="row">
            <div class="dashboard__orders card">
                    <div class="card-header">
                        <h5>#PO-1907 (CR, 2MC, Prime - 172.2 Mt.) <span class="float-right">20/12/2019</span></h5>
                    </div>
                  <div class="card-divider"></div>
                            <div class="card-table">
                                <div class="table-responsive-sm table-striped">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="padding-left: 30px;">
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </th>
                                                <th>Sr. No.</th>
                                                <th>Type</th>
                                                <th>Category</th>
                                                <th>Shape</th>
                                                <th>Class</th>
                                                <th>Thk. Range</th>
                                                <th>Width Range</th>
                                                <th>Length</th>
                                                <th>Temper</th>
                                                <th>Surface</th>
                                                <th>Gr. Wt.</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price" size="6">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-check__body">
                                                        <input class="input-check__input" type="checkbox">
                                                        <span class="input-check__box"></span>
                                                        <app-icon class="input-check__icon" name="check-9x7" size="9x7">
                                                        </app-icon>
                                                    </span>
                                                </td>
                                                <td>1.</td>
                                                <td>PCRC</td>
                                                <td>CR</td>
                                                <td>Mix Coil</td>
                                                <td>2B</td>
                                                <td>1.22 - 2.12</td>
                                                <td>900 - 950</td>
                                                <td>Coil</td>
                                                <td>T2</td>
                                                <td>Matt</td>
                                                <td>1.24</td>
                                                <td><input type="text" class="form-control" placeholder="Enter Price"
                                                        size="6"></td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>

                            </div>
            </div>

        </div>
        <div class="row mt-3 ">
            <div class="col-md-12 pr-0">
                <button class="btn btn-primary float-right">Add to Product Cart</button>
            </div>
        </div>
    </div>
</div>