<div class="card">
    <div class="card-header">
      <h5>Confirmation</h5>
    </div>
    <div class="card-divider"></div>
    <form [formGroup]="termsConditions" class="card-body">
        <div class="form-group">
            <div class="form-check">
                <span class="form-check-input input-check">
                    <span class="input-check__body">
                        <input class="input-check__input" type="checkbox" formControlName="verify" id="login-remember">
                        <span class="input-check__box"></span>
                        <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                    </span>
                </span>
                <label class="form-check-label" for="login-remember">I agree to the <a routerLink="../../site/terms">Terms & Conditions</a> and have read and understood all the conditions.</label>
            </div>
        </div>
       <div class="center">
          <div class="form-group  mb-0">
              <button class="btn btn-success" [disabled]="!termsConditions.valid" (click)="submitTermsCond()">Submit</button>
          </div>
       </div>
    </form>
  </div>