.my_img {
    background-image:url(../../../../../assets/images/gpGlobalBg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.typography p {
    text-align: left;
}