<div class="block about-us ">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body  my_img">
                    <div class="about-us__text typography">
                        <h4 class="about-us__team-title">WHAT WE DO</h4>
                        <p>
                            We understand that global progress and economic development requires innovative and bespoke
                            commodity solutions. That’s why we’ve made it our business to deliver comprehensive and
                            integrated solutions to clients who are forging the building blocks of economies around the
                            world.
                            You’ll find our products at work around the globe wherever new infrastructure is developed,
                            machinery and industry spin into gear, and a complicated system of logistics connects
                            countries and economies. We are a multi- billion dollars business that is rapidly expanding
                            to catalyse economic growth by supporting clients in existing markets while unlocking
                            potential in new geographies.
                            We are set apart by the synergies our complementary business lines unlock to create
                            commercial success. We also have the ability to tailor turnkey answers to client needs, and
                            create solutions that meet their specific requirements.
                        </p>
                        <h4 class="about-us__team-title">OUR VALUES</h4>
                        <p>
                            We believe that commodity solutions have the potential to deliver progress, development and
                            uplift around the world. Hence why we catalyse long-term relationships with clients who are
                            powering global economies and contributing to communities worldwide. We aspire to create
                            growth opportunities that benefit our business partners, clients and economies as a
                            whole.<br />
                            <b>Our operations, outlook and relationships with stakeholders are determined by three core
                                values:</b>
                        </p>
                        <h4 class="about-us__team-title">OUR ROOTS</h4>
                        <p>
                            Honouring the past and embracing the future, our journey is a story of catalyzing mutual
                            growth – ours and that of our clients.
                            The GP Global story dates back to early 90s, with trading petrochemical products in India.
                            In 1998, we expanded operations to Sharjah in the United Arab Emirates, linking the two
                            countries with new channels of opportunity and value creation.
                            As a group, we have witnessed tremendous growth since our inception in the UAE in 1998. We
                            have now emerged as a global key player and it is important to relook at our brand identity
                            that would complement our global presence and strengthen our organisation’s reputation and
                            recognition among the international business community and stakeholders.</p>
                    </div>
                    <div class="about-us__team">
                        <h4 class="about-us__team-title">Meet Our Leaders</h4>
                        <div class="about-us__team-subtitle text-muted">Our visionary leaders are passionate and
                            visionaries that continue to fuel exponential growth to the organization.</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Mr. Sudhir Goyel</div>
                                        <div class="teammate__position text-muted">Chairman & Co-founder</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Mr. Manan Goel</div>
                                        <div class="teammate__position text-muted">Joint Managing Director</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Mr. Prerit Goel</div>
                                        <div class="teammate__position text-muted">Joint Managing Director</div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
