<app-page-header [header]="'Job With Us'" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Career',  url: ''}
]"></app-page-header>

<div class="block faq">
    <div class="container">
        <div class="faq__section">
          
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography" style="border: 1px dashed #ccc;padding: 10px 20px;">
                          <h6>Currently No Jobs Opening</h6>

                          <!-- <p>
                            J-18, Taloja MIDC, Panchnad(CT),<br/> Taluka - Panvel, Raigad,
                            MAHARASHTRA,<br/> Navi Mumbai Panvel - 410208 <br/>
                            Phone : +91- 8652211007
                          </p> -->

                        </div>
                    </div>
                    
                </div>
                <!--  -->
   
            </div>
        </div>

    </div>
</div>
